<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'HOME', root_path, method: :get %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">LOGIN <span class="caret" style="border:transparent;margin-left:15px;"></span></a>
          <ul class="dropdown-menu">
            <li>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                      <input type="text" class="form-control placholder1" placeholder="ID Number" style="width: 100%;padding: 12px 20px;margin:8px 0;box-sizing:border-box;border-radius:0; background-color:#e6e6e6;">
                      <input type="text" class="form-control placeholder1" placeholder="Password" style="width: 100%;padding: 12px 20px;margin:8px 0;box-sizing:border-box;border-radius:0; background-color:#e6e6e6;">
                    </div>
                    <button type="submit" class="btn btn-default" style="background-color:#203053;color:#79ADD2;font-weight:bold;width:100%;border-radius:0;margin:8px 0;">LOGIN</button>
                    <label style="color:gray;font-weight:normal;margin-top:6.5%;font-size:12px;"><center>Forgot your password?</center></label>
                </form>
            </li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container with-fixed-navbar">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-2">
      <h1>Register</h1>
      <h5>Create an account for photoshoot sign-ups, <br>write-up submissions and online previews.</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
      <br>
      <br>
      <br>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="col-md-5">
          <h4 id="regform">BASIC INFORMATION</h4>
          <div class="row">
            <div class="field col-xs-12">
              <%= f.label :id, "ID number" %>
              <%= f.input :id, label: false, id: "id_input" %>
            </div>
          </div>

          <div class="row">
            <div class="field col-xs-12">
              <%= f.label :name, "Full Name" %>
              <%= f.input :name, as: :hidden, label: false %>
              <p id="student-name">Student not found.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6">
              <div class="field">
                <%= f.label :yr, "Year and Course" %>
                <%= f.input :yr, as: :hidden, label: false %>
                <%= f.input :course, as: :hidden, label: false %>
                <p id="student-yrcrs"></p>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="field">
                <%= f.label :school, "School" %>
                <%= f.input :school, as: :hidden, label: false %>
                <p id="student-school"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-md-offset-2">
          <h4 id="regform">ACCOUNT DETAILS</h4>
          <div class="row">
            <div class="field">
              <%= f.label :email, "Email" %>
              <br>
              <%= f.email_field :email, label: false %>
            </div>
          </div>
          <div class="row">
            <div class="field">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>
          </div>
          <div class="row">
            <div class="field">
              <%= f.label :password_confirmation, "Password Confirmation" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
          </div>
        </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-4">
        <br>
        <br>
        <div class="row actions">
          <%= f.submit("NEXT", :style => ("background-color:#203053;color:#79ADD2;font-weight:bold;width:20%;border-radius:0;margin-left:-12%;")) %>
        </div>
      <% end %>
    </div>
  </div>
</div>

