<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class=""><%= link_to 'DASHBOARD', admins_path, method: :get %></li>
        <li class=""><%= link_to 'STUDENTS', students_admins_path, method: :get %></li>
        <li><%= link_to 'EVENTS', events_path, method: :get %></li>
        <li class="active"><%= link_to 'ACCOUNTS', accounts_admins_path, method: :get %></li>
        <li><%= link_to 'TIMESLOTS', timeslots_admins_path, method: :get %></li>
        <li><%= link_to 'WRITEUPS', writeups_admins_path, method: :get %></li>
        <li><%= link_to "LOG OUT", destroy_admin_session_path, :method => :delete %></a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container with-fixed-navbar admins">
  <div class="row">
    <div class="col-xs-12">
    <h3 class="center-align">Search</h3>
      <div class="col-xs-12 col-sm-4 col-sm-offset-4 search-form">
        <input type="number" name="id" id="search_account">
        <label for="search">ID Number</label>
      </div>
      <div class="col-xs-4 col-xs-offset-4">
        <table class="search-table table">
          <tr>
            <th>Name</th>
            <td id="student-name"></td>
          </tr>
          <tr>
            <th>Year & Course</th>
            <td id="student-yrcrs"></td>
          </tr>
          <tr>
            <th>School</th>
            <td id="student-school"></td>
          </tr>
          <tr>
            <th>Email</th>
            <td id="student-email"></td>
          </tr>
          <tr>
            <th>Timeslot</th>
            <td id="student-timeslot"></td>
          </tr>
          <tr>
            <th>Feedback</th>
            <td id="student-writeup" style="white-space: pre-line;"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3 class="center-align">Accounts</h3>
      <h4 class="center-align">Number of accounts: <span class="text-bold"><%=@account_number %></span>/<%= Student.count %></h4>
      <h4 class="center-align"><%= flash[:notice] %></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table-striped table">
        <tr>
          <th class="right-align">Student ID</th>
          <th>Name</th>
          <th>Email</th>
          <th class="right-align">Year</th>
          <th>Course</th>
          <th>School</th>
          <th>Writeup</th>
          <th></th>
        </tr>
        <% @accounts.each do |student| %> 
          <tr>
            <td class="right-align"><%= student.student_id %></td>
            <td><%= student.name %></td>
            <td><%= student.email %></td>
            <td class="right-align"><%= student.yr %></td>
            <td><%= student.course %></td>
            <td><%= student.school %></td>
            <td style="white-space: pre-line;"><%= student.writeup %></td>
            <td><%= link_to "Delete", destroy_account_path(student), method: :delete, data: { confirm: "Are you sure you want to delete the account #{student.student_id}?" }, :class => "event-crud" %></td>
          </tr>
        <% end %>
      </table>
      
    </div>
  </div>
  <div class="row">
    <div class="flex col-xs-12"><%= will_paginate @accounts %></div>
  </div>
</div>
