<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'DASHBOARD', admins_path, method: :get %></li>
        <li class=""><%= link_to 'STUDENTS', students_admins_path, method: :get %></li>
        <li><%= link_to 'EVENTS', events_path, method: :get %></li>
        <li><%= link_to 'ACCOUNTS', accounts_admins_path, method: :get %></li>
        <li class="active"><%= link_to 'TIMESLOTS', timeslots_admins_path, method: :get %></li>
        <li><%= link_to "LOG OUT", destroy_admin_session_path, :method => :delete %></a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container with-fixed-navbar">
  <div class="tab-content">
    <div class="table-responsive" id="summary" role="tabpanel" class="tab-pane active fade in">
      <table class="table table-striped">
        <h3 class="center-align">SUMMARY</h3>
        <tr>
          <th class="right-align">DATE</th>
          <th>School</th>
          <th class="right-align">8:00AM<br>9:00AM</th>
          <th class="right-align">9:00AM<br>10:00AM</th>
          <th class="right-align">10:00AM<br>11:00AM</th>
          <th class="right-align">11:00AM<br>12:00PM</th>
          <th class="right-align">12:00PM<br>1:00PM</th>
          <th class="right-align">1:00PM<br>2:00PM</th>
          <th class="right-align">2:00PM<br>3:00PM</th>
          <th class="right-align">3:00PM<br>4:00PM</th>
          <th class="right-align">4:00PM<br>5:00PM</th>
          <th class="right-align">5:00PM<br>6:00PM</th>
          <th class="right-align">Slots left:<br><%=Timeslot.sum(:slots)%></th>
        </tr>
        <% @dates.each do |date| %>
          <tr>
            <td class="right-align text-bold"><%= Date.parse(date.dasherize).strftime("%a, %b %d") %></td>
            <td>
            <% if ["2016-10-17", "2016-10-18", "2016-10-19"].include? date.dasherize %>
              <%= "SOH" %>
            <% elsif ["2016-10-20","2016-10-21","2016-10-22","2016-10-24","2016-10-25","2016-10-26"].include? date.dasherize %>
              <%= "SOSS " %>
            <% end %>
            <% if ["2016-10-26", "2016-10-27","2016-10-28","2016-10-29","2016-11-03","2016-11-04"].include? date.dasherize %>
              <%= "SOSE " %>
            <% end %>
            <% if ["2016-11-04","2016-11-07","2016-11-08","2016-11-09","2016-11-10","2016-11-14","2016-11-15"].include? date.dasherize %>
              <%= "SOM" %>
            <% end %></td>
            <% @sum = 0%>
            <% instance_variable_get("@slots_#{date}").order(:start_time).each do |slot| %>
              <% @sum = @sum + slot.slots %>
              <% if slot.slots >= 6 %>
                <% @status = "success" %>
              <% elsif slot.slots < 6 && slot.slots > 0 %>
                <% @status = "warning" %>
              <% elsif slot.slots == 0 %>
                <% @status = "danger" %>
              <% end %>
              <td class="right-align <%= @status %>"><%= slot.slots %></td>
            <% end %>
            <td class="right-align text-bold"><%= @sum %></td>
          </tr>
        <% end %>
        <% @dates_g.each do |date| %>
          <tr>
            <td class="right-align text-bold"><%= Date.parse(date.dasherize).strftime("%a, %b %d") %></td>
            <td>
            Group</td>
            <% @sum = 0%>
            <% instance_variable_get("@slots_#{date}").order(:start_time).each do |slot| %>
              <% @sum = @sum + slot.slots %>
              <% if slot.slots >= 6 %>
                <% @status = "success" %>
              <% elsif slot.slots < 6 && slot.slots > 0 %>
                <% @status = "warning" %>
              <% elsif slot.slots == 0 %>
                <% @status = "danger" %>
              <% end %>
              <td class="right-align <%= @status %>"><%= slot.slots %></td>
            <% end %>
            <td class="right-align text-bold"><%= @sum %></td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="table-responsive" id="detailed" role="tabpanel" class="tab-pane fade">
      <h3 class="center-align">DETAILED</h3>

      <% @dates.each do |date| %>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <table class="table">
            <h5 class="center-align text-bold"><%= Date.parse(date.dasherize).strftime("%a, %b %d")%></h5>
            <tr>
              <th>Time</th>
              <th class="right-align">Slots</th>
              <th>Students</th>  
            </tr>
            <% instance_variable_get("@slots_#{date}").order(:start_time).each do |slot| %>
              <tr>
                <td><%= slot.start_time + " - " + slot.end_time %></td>
                <td class="right-align"><%= slot.slots%> </td>
                <td>
                  <% Account.where(timeslot_id: slot.id).each do |account | %>
                    <%= account.to_s %><br>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>

      <% @dates_g.each do |date| %>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <table class="table">
            <h5 class="center-align text-bold"><%= Date.parse(date.dasherize).strftime("%a, %b %d")%></h5>
            <tr>
              <th>Time</th>
              <th class="right-align">Slots</th>
              <th>Groups</th>  
            </tr>
            <% instance_variable_get("@slots_#{date}").order(:start_time).each do |slot| %>
              <tr>
                <td><%= slot.start_time + " - " + slot.end_time %></td>
                <td class="right-align"><%= slot.slots%> </td>
                <td>
                  <% Groupslot.where(groupshot_id: slot.id).order(:group_name).each do |group | %>
                    <%= group.group_name + " c/o " + Account.where(student_id: group.student_id).first.to_s %><br>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>


