
<div id="home-page">
	<div class="flex">
		<div class="container">
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2 col-lg-6 col-lg-offset-3">
				<%= image_tag "logo-white.png", :class => "logo-opening img-responsive"%>
				</div>
				<div class="col-xs-12">
				<h4>THE OFFICIAL COLLEGE YEARBOOK OF<BR>THE ATENEO DE MANILA UNIVERSITY</h4>
			</div>
			</div>
		</div>
	</div>
	<a href="#announcements"><%= image_tag "arrow.png", class: "arrow-down"%></a>
</div>

<nav class="navbar navbar-default sticky">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#announcements">ANNOUNCEMENTS</a></li>
        <li><a href="#faq">FAQs</a></li>
        <li><a href="#contactus">CONTACT US</a></li>
        <% if account_signed_in? %>
        	<li><%= link_to "ACCOUNT", accounts_path, method: :get %></li>
        	<li><%= link_to "LOG OUT", destroy_account_session_path, :method => :delete %></li>
        <% else %>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">LOGIN <span class="caret" style="border:transparent;margin-left:15px;"></span></a>
	          	<ul class="dropdown-menu">
		            <li>
			            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "navbar-form navbar-left"} ) do |f| %>
							<div class="form-group">
								<%= f.text_field :student_id, as: "number", class: "form-control placholder1", placeholder: "ID Number", autofocus: true %>
							</div>

							<div class="field">
								<%= f.password_field :password, autocomplete: "off", class: "form-control placeholder1", placeholder: "Password" %>
							</div>

							<% if devise_mapping.rememberable? -%>
								<%= f.check_box :remember_me, style: "float: left;" %>
								<%= f.label :remember_me, class: "checkbox-inline", style: "float:left;"%>
								  	
							<% end -%>

							<div class="actions">
								<%= f.submit "Log in", class: "btn btn-default" %>
							</div>
						<% end %>
				    </li>
	          	</ul>
	        </li>
        	<!-- <li><%# link_to 'REGISTER', new_account_registration_path, method: :get %></li> -->
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div id="announcements" class="container section">
	<div class="col-md-12">
		<div style="margin-bottom:10px;min-width:50%;margin:0 auto;">
			<h1 style="text-align:center;">Announcements</h1>
			<h5 style="margin-left:5%;text-align:center">
				To all seniors and superseniors:
				Please take note of the guidelines and REVISED photoshoot proper schedule at <a href="http://tinyurl.com/Aegis2017PhotoshootGuidelines"> AEGIS Photoshoot Guidelines </a>.Photos of the dress code have also been uploaded to our official FB page <a href=" https://www.facebook.com/ateneoaegis2017/">Ateneo AEGIS 2017 </a> for your perusal prior to your photoshoot.
			</h5>
		</div>
	</div>
	<div class="col-xs-12 col-md-offset-1 col-md-4">
		<h3>Reminders</h3>
		<%= image_tag "register.png", :class => "reminder-photo img-responsive" %>
	</div>
	<div class="col-xs-12 col-md-offset-1 col-md-5">
		<h3>Calendar of Events</h3>
		<div id="calendar">
		</div>
	</div>
</div>

<div id="faq" class="section">
	<div class="container">
		<div class="row">
			<div class="col-xs-offset-1 col-xs-10 col-md-8 col-md-offset-1">
				<h1>Frequently Asked Questions</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-md-8">
				<div class="col-xs-offset-2 col-xs-10 col-md-9 col-md-offset-2">
					<h3>WRITEUPS</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-offset-1 col-xs-10 col-md-9 col-md-offset-2">	
				
				<section>
					<h4>What does CWS mean in the guidelines?</h4>
					<p><span class="bold">CWS stands for Characters with Spaces.</span> You may check the CWS of your write-up by going to Tools > Word Count if you are using Microsoft Word.</p>
				</section>
				<section>
					<h4>When will the write-ups submission be?</h4>
					<p>As of the moment, the write-up submission dates are slated from <span class="bold">November 1-30.</span> Should there be any changes in the schedule, we will be announcing this through the website and/or through the Official AEGIS 2017 Facebook Page. You may also refer to the AEGIS 2017 Calendar for updates.</p>
				</section>
				<section>
					<h4>Should my write-up be in first person (e.g. “I am…”) or in third person (e.g. “He is…”)?</h4>
					<p>Because this is your yearbook, we encourage all students to write using <span class="bold">any point of view they are comfortable with.</span></p>
				</section>
				<section>
					<h4>Can I ask someone else to write my write-up for me?</h4>
					<p>Yes, you may, as long as you submit it through your own account.</p>
				</section>
				<section>
					<h4>What happens if I don’t submit my write-up on time, will I still be able to submit it after the deadline?</h4>
					<p>Unfortunately, due to the tight schedule,  <span class="bold">we do not allow students to submit their write-up after the deadline</span>, unless an extension has been made. Should you fail to submit your write-up, the  <span class="bold">write-up editors will be the ones to choose what generic write-up to put on your page.</span></p>
				</section>
				<section>
					<h4>Will we still be able to edit our write-up after we submit it?</h4>
					<p><span class="bold">We do not allow editing after the write-ups have been submitted</span>, so please make sure that the write-up you are submitting is what you want to see in your yearbook. We do, however, have an <span class="bold">online preview</span> the following semester to give students the chance to comment any <span class="bold"><span class="italic">minor</span> changes</span> they wish to make. Any <span class="italic">major </span>changes or overhauls will not be accommodated.</span></p>
				</section>
				<section>
					<h4>What happens if I go over the CWS limit?</h4>
					<p>Should the write-up go over the CWS limit, the <span class="bold">write-up editors will be the ones to shorten it</span>, but will make sure that the essence of the write-up will be retained. If the write-up proves to be <span class="bold">too long for the write-up editor to shorten, we will be contacting you to resubmit a shorter version of your write-up.</span>However, the <span class="bold">resubmitted write-up must still be derived from the original </span>and may not be completely different write-up.</p>
				</section>
				<section>
					<h4>What are examples of generic write-ups?</h4>
					<p><ul><li>“In the end, it is not the years in your life that count. It’s the life in your years.” (Lincoln, Abraham)</li><li>“That which does not kill us, makes us stronger.” (Nietzsche, Friedrich)</li><li>“It is not in the stars to hold our destiny, but in ourselves.” (Shakespeare, William)</li></ul></p>
				</section>
				<section>
					<h4>What if I don't want my own write-up?</h4>
					<p>Even if you are not submitting your own write-up, you must still log on the website during the write-up submission period and <span class="bold">specify whether you want a generic write-up or no write-up at all</span>. Should you select the latter, the space in your yearbook page allotted for the write-up will simply be left blank.</p>
				</section>
				<section>
					<h4>If I am a senior but not graduating this year, am I still required to submit a write-up?</h4>
					<p>Non-graduating students are <span class="bold">not required to submit a write-up as they will not have a write-up on the yearbook.</span> Only students who are graduating, should submit one. </p>
				</section>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-md-8">
				<div class="col-xs-offset-2 col-xs-10 col-md-9 col-md-offset-2">
					<h3>PHOTOSHOOTS</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-offset-1 col-xs-10 col-md-9 col-md-offset-2">	
				
				<section>
					<h4>Is my photoshoot already included in the tuition payment?</h4>
					<p><span class="bold">No. </span>The cost of your photoshoot will <span class="bold">depend on the package you will select</span>. Photo packages will be released on the same day as the guidelines, which is on <span class="bold">October 1</span>. <span class="bold">Form of payment will be done on the spot</span> once you have arrived at the photoshoot venue.</p>
				</section>
				<section>
					<h4>What do I do if I do not want to have my photo taken?</h4>
					<p>Graduating and non-graduating students are <span class="bold italic">not required</span> to have their photos taken. Instead, space for where their photo should be on the yearbook will be left blank.</p>
				</section>
				<section>
					<h4>What are we allowed to wear/bring during the photoshoot?</h4>
					<p>Please see the guidelines to be released on or before <span class="bold">October 1</span>. This will be disseminated through the website and/or through the <a href="https://www.facebook.com/ateneoaegis2017">Official AEGIS 2017 Facebook Page</a>.</p>
				</section>
				<section>
					<h4>When will photoshoot sign-ups be?</h4>
					<p>As of the moment, the photoshoot sign-up dates are slated from <span class="bold">October 3-8</span>. Further details and/or changes in the schedule, we will be announcing through the website and/or through the <a href="https://www.facebook.com/ateneoaegis2017">Official AEGIS 2017 Facebook Page</a>. You may also refer to the <a href="https://calendar.google.com/calendar/embed?src=ateneoaegis2017%40gmail.com&ctz=Asia%2FManila">AEGIS 2017 Calendar</a> for updates.</p>
				</section>
				<section>
					<h4>When will the photoshoot be?</h4>
					<p>As of the moment, the photoshoot dates are slated from <span class="bold">October 17-November 22</span>. Further details and/or changes in the schedule, we will be announcing through the website and/or through the <a href="https://www.facebook.com/ateneoaegis2017">Official AEGIS 2017 Facebook Page</a>. You may also refer to the <a href="https://calendar.google.com/calendar/embed?src=ateneoaegis2017%40gmail.com&ctz=Asia%2FManila">AEGIS 2017 Calendar</a> for updates.</p>
				</section>
				<section>
					<h4>Why were the photo shoot dates scheduled during the first semester? </h4>
					<p>The photo shoot dates were scheduled early to give the AEGIS 2017 team a leeway should there be a need <span class="bold">for further editing and to accommodate necessary last-minute changes</span>. </p>
					<p>This will also help <span class="bold">ensure that the photos will be given early and the yearbook be given on time</span>. The earlier the distribution of the photo and yearbook,<span> more time will then be allotted for the seniors to pick-up their yearbooks, and the less backlog</span> it will be for the following school year</p>
				</section>
				<section>
					<h4>Where will the photoshoot take place?</h4>
					<p>Photoshoots will take place in ISO Room 3.</p>
				</section>
				<section>
					<h4>What time should I arrive at the venue?</h4>
					<p>For <span class="bold">individual shoots</span>, we recommend that you arrive <span class="bold">15 minutes before your time slot</span>. Should you<span class="bold"> avail of the hair and makeup</span> provided at the venue, we recommend that you <span class="bold">arrive 30 minutes before your time slot</span>. As for <span class="bold"> group shoots</span>, we recommend that your group <span class="bold">arrive 30 minutes before your time slot</span>.</p>
				</section>
				<section>
					<h4>What happens if I and/or my group suddenly cannot make it to my time slot?</h4>
					<p>Should you and/or your group not be available to attend during your time slot, <span class="bold">you are allowed to reschedule your shoot</span>. To reschedule, please go to the photoshoot venue during the photoshoot proper <span class="bold">(October 17-November 22)</span>, and manually enlist in a time slot which is still available. <span class="bold">A penalty of P500 will also be collected for rescheduling.</span></p>
				</section>
				<section>
					<h4>What happens if wasn’t able to sign-up for a time slot during the photoshoot enlistment?</h4>
					<p>If you were not able to enlist for a timeslot, <span class="bold">you are still allowed to enlist</span>. To enlist, please go to the photoshoot venue during the photoshoot proper <span class="bold">(October 17-November 22)</span>, and manually enlist in a time slot which is still available. <span class="bold">A penalty of P500 will also be collected for late enlistment.</span></p>
				</section>
				<section>
					<h4>If I am a senior but not graduating this year, am I still required to have my photo taken?</h4>
					<p><span class="bold">No.</span> However, non-graduating seniors will still be part of the yearbook, but <span class="bold">only casual photos will be shown</span>. Toga photos will not be taken by non-graduating seniors.</p>
				</section>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-md-8">
				<div class="col-xs-offset-2 col-xs-10 col-md-9 col-md-offset-2">
					<h3>DISTRIBUTION</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-offset-1 col-xs-10 col-md-9 col-md-offset-2">	
				<section>
					<h4>When will the photos be distributed?</h4>
					<p><span class="bold">Dates for any form of distribution have not yet been finalized</span>. Should the distribution date for graduation photos be already set, this will be announced through the website and/or through the <a href="https://www.facebook.com/ateneoaegis2017">Official AEGIS 2017 Facebook Page</a>. You may also refer to the <a href="https://calendar.google.com/calendar/embed?src=ateneoaegis2017%40gmail.com&ctz=Asia%2FManila">AEGIS 2017 Calendar</a> for updates.</p>
				</section>
				<section>
					<h4>When will the yearbook be distributed?</h4>
					<p><span class="bold">Dates for any form of distribution have not yet been finalized</span>. Should the distribution date for yearbooks be already set, this will be announced through the website and/or through the <a href="https://www.facebook.com/ateneoaegis2017">Official AEGIS 2017 Facebook Page</a>. You may also refer to the <a href="https://calendar.google.com/calendar/embed?src=ateneoaegis2017%40gmail.com&ctz=Asia%2FManila">AEGIS 2017 Calendar</a> for updates.</p>
				</section>
				<section>
					<h4>What if I am not able to claim my photos and yearbook during the dates itself?</h4>
					<p>You may still claim your yearbook until the end of the claiming period, which is still to be announced. <span class="bold">Claiming after the period has ended will be subject to disposal by the AEGIS 2017 Board.</span></p>
				</section>
			</div>
		</div>
	</div>
</div>

<div id="contactus" class="container section">
	<div class="col-xs-offset-1 col-xs-10 col-md-8 col-md-offset-1">
		<h1>Let us know!</h1>
		<h5>For any comments, questions, or formal complaints, please <br>
			feel free to reach us through any of the following:</h5>
	</div>
	<div class="col-md-6">
		<div class="col-xs-offset-1 col-xs-10 col-md-8 col-md-offset-6">
		<br>
		<br>
			<h5>Facebook</h5>
			<h5><a href="https://www.facebook.com/ateneoaegis2017">Ateneo AEGIS 2017</a></h5>
			<h5 style="margin-top:25px;">Twitter</h5>
			<h5><a href="https://www.twitter.com/ateneoaegis2017">@AteneoAEGIS2017</a></h5>
			<h5 style="margin-top:25px;">Email</h5>
			<h5><a href="mailto:ateneoaegis2017@gmail.com">ateneoaegis2017@gmail.com</a></h5>
		</div>
	</div>
	<div class="col-md-6 col-xs-10 col-xs-offset-1 col-md-offset-0">
		<div class="col-xs-12 col-md-8">
			<%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
			    <%= f.input :name, label: "", placeholder: "Name" %>
			    <%= f.input :email, label: "", placeholder: "Email" %>
			    <%= f.input :message, label: "", placeholder: "Message", :as => :text, rows: 15 %>
			    <div>
			      </br>
			      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
			    </div>
			<% end %>
			</div>
		</div>
	</div>
</div>
