<!DOCTYPE html>
<html>
<head>
	<title>AEGIS 2017</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<link href="/assets/images/favicon.png" rel="icon" type="image/x-icon" />
	<link href="/assets/images/favicon.ico" rel="icon" />

	<meta property="og:image" content="<%=image_path('loader.png')%>" />

	<meta property="og:description" content="The official college yearbook of the Ateneo de Manila University." />

	<meta property="og:url" content="http://aegis2017.com" />

	<meta property="og:title" content="AEGIS 2017" />
	<%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">

<%= yield %>
	<footer>
	 <div class="container">
	 	<div class="row">
	 		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
	 			<h5 class="center-align">Developed by: <a href="http://misa.org.ph" target="_blank">Ateneo MISA</a> | Text <span class="text-bold">0917 777 7428</span> for any urgent concerns.</h5>
	 		</div>
	 	</div>
	 </div>
	</footer>
</body>
</html>
