<!DOCTYPE html>
<html>
<head>
	<title>AEGIS 2017</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= favicon_link_tag 'favicon.png' %>
	<%= favicon_link_tag 'favicon.ico' %>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:image" content="<%=image_path('loader.png')%>" />
	<meta charset="UTF-8">
	<meta property="og:description" content="The official college yearbook of the Ateneo de Manila University." />

	<meta property="og:url" content="http://aegis2017.com" />

	<meta property="og:title" content="AEGIS 2017" />
	<%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
<%# encoding: utf-8%>
<%= yield %>
	<footer>
	 <div class="container">
	 	<div class="row">
	 		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
	 			<h5 class="center-align">Developed by: <a href="http://misa.org.ph" target="_blank">Ateneo MISA</a><br><br>Send an email to <span class="text-bold">ateneoaegis2017@gmail.com</span> for concerns about your account.<br>Text <span class="text-bold">0917 777 7428</span> for any technical concerns.</h5>
	 			<h5><%=Time.new(2016, 10, 2, 23).in_time_zone('Hong Kong')%></h5>
	 			<h5><%=Time.new(2016, 10, 3, 7).in_time_zone('Hong Kong')%></h5>
	 			<h5><%=Time.current.in_time_zone('Hong Kong')%></h5>
	 		</div>
	 	</div>
	 </div>
	</footer>
</body>
</html>
