<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'HOME', root_path, method: :get %></li>
        <li class=""><%= link_to 'ACCOUNT', accounts_path, method: :get %></li>
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">SHOOT SLOTS &#x25BC;<span class="caret" style="border:transparent;margin-left:15px;"></span></a>
          <ul class="dropdown-menu shoot-dropdown">
            <li class=""><%= link_to 'PHOTOSHOOT SIGN UPS', sign_ups_accounts_path, method: :get %></li>
            <li class=""><%= link_to 'GROUPSHOOT SIGN UPS', group_signups_accounts_path, method: :get %></li>
          </ul>
        </li>
        <li class=""><%= link_to 'WRITE UPS', view_writeup_accounts_path, method: :get %></li>
        <li><%= link_to "LOG OUT", destroy_account_session_path, :method => :delete %></a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container with-fixed-navbar">
  <h4 class="center-align" style="color:red"><%= flash[:alert] %></h4>
  
  <% if @has_groupshot %>
  
    <div class="confirmation-slip col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
      <div class="row">
        <h6 class="center-align">You are required to bring a print out of this confirmation slip to your photoshoot proper.</h6><br><br>
        <h3 class="center-align">AEGIS 2017</h3>
        <h3 class="center-align">YEARBOOK PHOTO SHOOT</h3>
        <h3 class="center-align">CONFIRMATION SLIP</h3>
      </div>
      <div class="row">
        <h4>This confirmation slip stands as proof that <span class="text-bold"><%= @checkgroupslot.group_name %></span>, represented by <span class="text-bold"><%= current_account.to_s %></span> agrees to all the terms and conditions that have been laid out by the AEGIS 2017 Editorial Board in the AEGIS 2017 Photoshoot Primer. We have fully read and understood the primer and am aware of the possible consequences we must face should we break any of the terms and conditions listed.</h4>
      </div>
      <div class="row">
        <h4>This slip also confirms that we have signed up on <span class="text-bold"><%=@timeslot.date.strftime("%A, %B %d, %Y")%> at <%= @timeslot.start_time.to_s + " - " + @timeslot.end_time.to_s%></span>.</h4>
        <%= button_to "SAVE AS PDF", groupslip_accounts_path(groupslot: @timeslot.id, format: 'pdf'), method: :get%>
      </div>
    </div>
  <% end %>
    <div class="row">
      <div class="row" id="account-sign-ups">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
          <h3 class="center-align"><%=current_account.student_id %> - <%=current_account.name.downcase %></h3>
          <h4 class="center-align">Available timeslots are shown in case you want to reschedule.</h4>
          <!-- <ol>
            <h4><li>Click on the button of your preferred timeslot to sign up for that slot.</li></h4>
            <h4><li>Numbers show remaining number of slots. </li></h4>
            <h4><li>Please be sure of your slot; you will not be allowed to reschedule through the website.</li></h4>
          </ol> -->
        </div>

      </div>
      <div class="row table-responsive">
        <table class="table table-striped table-hover">
          <tr>
            <th class="right-align">Start time<br>End time</th>
            <th class="center-align">8:00 AM<br>9:00 AM</th>
            <th class="center-align">9:00 AM<br>10:00 AM</th>
            <th class="center-align">10:00 AM<br>11:00 AM</th>
            <th class="center-align">11:00 AM<br>12:00 PM</th>
            <th class="center-align">12:00 PM<br>1:00 PM</th>
            <th class="center-align">1:00 PM<br>2:00 PM</th>
            <th class="center-align">2:00 PM<br>3:00 PM</th>
            <th class="center-align">3:00 PM<br>4:00 PM</th>
            <th class="center-align">4:00 PM<br>5:00 PM</th>
            <th class="center-align">5:00 PM<br>6:00 PM</th>
          </tr>
          <% @dates.each do |date| %>
            <tr>
              <td class="right-align text-bold"><%= Date.parse(date).strftime("%a, %b %d") %></td>
              <% @sum = 0%>
              <% @slots.where(date: date).each do |slot| %>
                <% @sum = @sum + slot.slots %>
                <% if slot.slots >= 6 %>
                  <% @status = "success" %>
                <% elsif slot.slots < 6 && slot.slots > 0 %>
                  <% @status = "warning" %>
                <% elsif slot.slots == 0 %>
                  <% @status = "danger" %>
                <% end %>
                <%# if slot.slots == 0 %>
                  <td class="center-align">
                    <button type="button" class="btn btn-lg <%=@status%>" data-toggle="modal" data-target="#slot<%=slot.id%>" disabled>
                      <%= slot.slots %>
                    </button>
                  <%#button_to slot.slots, group_signup_accounts_path(slot.id), class: "btn #{@status}", disabled: true%></td>
                <%# else %>
                  <!-- <td class="center-align">
                    <button type="button" class="btn btn-lg <%#@status%>" data-toggle="modal" data-target="#slot<%#slot.id%>">
                      <%# slot.slots %>
                    </button>
                    <%#button_to slot.slots, group_signup_accounts_path(slot.id), class: "btn #{@status}"%></td> -->
                <%# end %>

                <!-- <div class="modal fade bs-example-modal-sm" id="slot<%=slot.id%>" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
                  <div class="modal-dialog modal-sm" role="document">
                    
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h5 class="modal-title center-align" id="myModalLabel">Groupshoot Slot Signups</h5>
                      </div>
                      <div class="modal-body">
                        <h4 class="center-align">Slot details:</h4>
                        <h3 class="center-align"><%#Date.parse(date).strftime("%a, %b %d")%></span></h3>
                        <h3 class="center-align"><%# slot.start_time + " - " + slot.end_time %></h3><br>
                        <h4 class="center-align">Please indicate your group name:</h4>
                        <div class="row">
                          <div class="col-xs-12">
                            <form action="/accounts/group_signup" method="POST">
                              <input name="group_name" class="grpnm center-align" required>
                              <input name="slot_id" value="<%#slot.id%>" hidden><br>
                              <button type="submit" class="btn groupslot-confirm" disabled>Confirm Timeslot</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
</div>