<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'HOME', root_path, method: :get %></li>
        <li class=""><%= link_to 'ACCOUNT', accounts_path, method: :get %></li>
        <li class=""><%= link_to 'PHOTOSHOOT SIGN UPS', sign_ups_accounts_path, method: :get %></li>
        <li class=""><%= link_to 'GROUPSHOOT SIGN UPS', group_signups_accounts_path, method: :get %></li>
        <li><%= link_to "LOG OUT", destroy_account_session_path, :method => :delete %></a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container with-fixed-navbar">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-offset-2">
      <h1>View Writeup</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-2 col-md-offset-3">
      <h4>Current Writeup:</h4>
      <% if @current_account.writeup.present? %>
        <p><%=current_account.writeup %></p>
      <% else %>
        <p>No writeup submitted.</p>
      <% end %>
    </div>
    &nbsp;
    <div class="col-xs-9 col-xs-offset-4 col-md-offset-5">
      <%= button_to "Submit A Writeup", add_writeup_accounts_path, method: :get%>
    </div>
  </div>
</div>