<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'HOME', root_path, method: :get %></li>
        <li><%= link_to 'ACCOUNT', accounts_path, method: :get %></li>
        <li class="active"><%= link_to 'YEARBOOK PREVIEW', yearbook_preview_accounts_path, method: :get %></li>
        <li><%= link_to "LOG OUT", destroy_account_session_path, :method => :delete %></a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container with-fixed-navbar">
  <div class="row">
    <h3 class="text-center">Individual page:</h3>
    <br>
    <div class="col-xs-12 col-sm-10 col-sm-offset-1" style="margin-bottom:30px;">
      <object data="<%= current_account.yearbook_shot %>" type="application/pdf" style="width:100%;height:100vh;" height="100">
      Your browser does not support pdfs, <a href="<%= current_account.yearbook_shot %>">click here to
      download the file.</a>
      </object>
    </div>

    
  </div>
  <hr>
  <div class="row">
    <h3 class="text-center" style="margin-top:30px;margin-bottom:20px;">Toga pages of your course:</h3>
    <% @togashots.each do |togapage| %>
      
      <div class="col-xs-12 col-sm-10 col-sm-offset-1" style="margin-bottom:30px;">
        <object data="<%= togapage.page_num %>" type="application/pdf" style="width:100%;height:100vh;" height="100">
        Your browser does not support pdfs, <a href="<%= togapage.page_num %>">click here to
        download the file.</a>
        </object>
      </div>


    <% end %>
  </div>
      
</div>